{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
     <link rel="stylesheet" href="{% static 'styleshome.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'menu.css' %}">



      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="{% static 'js/script.js' %}"></script>

    <title>Autismo e Apoio</title>
</head>
<body>
    <body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-puzzle-piece fa-lg" id="nav_logo"> autismo</i>
            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="#menu">Informações sobre Autismo</a>
                </li>
                <li class="nav-item">
                    <a href="#video-section">Vídeos Educativos</a>
                </li>
                <li class="nav-item">
                    <a href="#games">Jogos</a>
                </li>
                <li class="nav-item">
                    <a href="#clinicas">Clínicas</a>
                </li>
            </ul>
            <button class="mobile_btn" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="#menu">Informações sobre Autismo</a>
                </li>
                <li class="nav-item">
                    <a href="#video-section">Vídeos Educativos</a>
                </li>
                <li class="nav-item">
                    <a href="#games">Jogos</a>
                </li>
                <li class="nav-item">
                    <a href="#clinicas">Clínicas</a>
                </li>
            </ul>
        </div>
    </header>
    <main id="content">
        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">
                    Comunicação
                    <span>alternativa</span>
                </h1>

                <p class="description">
                    Comunicação alternativa para ajudar crianças
                    e adolescentes com autismo a transmitirem seus
                    desejos, emoções e necessidades.
                </p>

                <div id="cta_buttons">
                    <a href="https://web.whatsapp.com/" class="btn-default" target="_blank">
                        Diz um Oi!
                    </a>

                    <a href="tel+55555555555" id="phone_button">
                        <button class="btn-default">
                            <i class="fa-solid fa-phone"></i>
                        </button>
                        (55) 55555-5555
                    </a>
                </div>


            <div class="social-media-buttons">
                <a href="https://web.whatsapp.com/" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.tiktok.com/pt-BR/" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                </div>
            </div>

            <div id="banner">


                <img src="{% static 'images/autismo1.png' %}" id="banner" >
            </div>

        </section>

        <section id="menu">
            <h2 class="section-title">Uma comunidade em constante crescimento</h2>
            <h3 class="section-subtitle">Apoiando famílias com autismo, nosso aplicativo fácil de usar capacita crianças, pais e famílias. Descubra ferramentas e recursos valiosos e uma comunidade estimulante. Navegue pelos desafios, promova o crescimento e abrace a inclusão.</h3>

            <div id="photos">
                <div class="photo">

                    <img src="{% static 'images/autismo3.png' %}" class="photo-image" alt="">

                    <h3 class="photo-title">
                        Transtorno do Espectro Autista (TEA)
                    </h3>

                    <span class="photo-description">
                        O Transtorno do Espectro Autista (TEA) é um distúrbio neurodesenvolvimental que afeta a comunicação, o comportamento e a interação social. Os sintomas do TEA variam amplamente entre os indivíduos, mas geralmente incluem dificuldades na comunicação, comportamentos repetitivos e desafios na interação social. O diagnóstico é feito por uma equipe multidisciplinar, que realiza observações clínicas, entrevistas e testes específicos. O tratamento é abrangente e pode incluir terapias comportamentais, ocupacionais e de fala, além de suporte educacional e familiar adaptado às necessidades individuais.
                    </span>
                </div>

                <div class="photo">

                    <img src="{% static 'images/autismo2.png' %}" class="photo-image" alt="">

                    <h3 class="photo-title">
                        Compreenda, Respeite e Acolha
                    </h3>

                    <span class="photo-description">
                        Compreender o autismo é abrir caminho para um mundo de diversidade e singularidade. Cada indivíduo autista traz consigo um universo único de experiências e perspectivas. Respeitar o autismo significa valorizar suas formas de comunicação e interação, que podem ser diferentes das convencionais. Acolher o autismo é criar um ambiente onde todos possam prosperar, sem julgamentos, promovendo inclusão e oportunidades iguais para todos.
                    </span>
                </div>

                <div class="photo">

                    <img src="{% static 'images/autismo4.png' %}" class="photo-image" alt="">

                    <h3 class="photo-title">
                        Entenda
                    </h3>

                    <span class="photo-description">
                        Segundo o Manual Diagnóstico e Estatístico de Transtornos Mentais DSM-5, as causas do Transtorno do Espectro Autista (TEA) não são totalmente conhecidas. A pesquisa científica se concentra principalmente na predisposição genética, analisando mutações espontâneas no desenvolvimento do feto e a herança genética dos pais. Contudo, o DSM-5 também reconhece que fatores hereditários explicam apenas metade do risco de desenvolver o TEA. Fatores ambientais, como estresse, infecções, exposição a substâncias tóxicas, complicações durante a gravidez e desequilíbrios metabólicos, têm um papel significativo na possibilidade de aparecimento do distúrbio.
                    </span>
                </div>

            </div>

        </section>

        <section id="video-section">
            <h2 class="section-title">Assista ao Vídeo</h2>
            <h3 class="section-subtitle">
                O que é o autismo? Como ele se manifesta? Quando começar as terapias?            </h3>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OvCyEbY7Mog?si=5tNoxSWyeUJ8GDRO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            </div>
        </section>

        <section id="games">
            <img src="{% static 'images/game.png' %}" alt="Imagem do jogo" id="games">

            <div id="games_content">
                <h2 class="section-title">
                    Jogos
                </h2>
                <h3 class="section-subtitle">
                    Jogos como o "mata mosquito" são ótimos para crianças autistas, ajudando a desenvolver habilidades motoras, aumentar a atenção e melhorar os reflexos de forma divertida e envolvente.
                </h3>

                <!-- Botão para o jogo -->
        <a href="{% static 'jogo-mata-mosquito/index.html' %}" class="btn-game" target="_blank" >
            Jogue o Mata Mosquito
        </a>

            </div>
        </section>

       <section id="clinicas">
            <h2 class="section-title">Clínicas</h2>
            <form action="" class="form_pesq_clin">
                <input type="text" name="estado_busca" id="estado_busca" class="estado_busca" placeholder="Estado">
                <input type="text" name="cidade_busca" id="cidade_busca" class="cidade_busca" placeholder="Cidade">
                <button class="form_pes_botao">Buscar</button>
            </form>

            <div class="result_pesq">
                <h2>Resultados da Pesquisa</h2>

<div class="lista_clinicas">
                    <div class="linha_clinica">
                        <div class="coluna_foto">
                            <div>
                                <img src="{% static 'images/clinicas.png' %}" class="foto_clinica">
                            </div>
                        </div>
                        <div class="linha_info_clinica">
                            <div class="coluna_titulo">
                                <div class="titulo">Clínica 1 </div>
                                <div>

                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                </div>
                            </div>
                                <div class="coluna_desc">
                                <p>Rua 78, Bairro Mangaba - SP <br> Tel: (11) 3245-6995 <br> Funcionamento 08hrs ás 18hrs <br> Neuropsicologia</p>
                            </div>
                        </div>
                    </div>
                    <div class="linha_clinica">
                        <div class="coluna_foto">
                            <div>

                                <img src="{% static 'images/clinicas.png' %}" class="foto_clinica">

                            </div>
                        </div>
                        <div class="linha_info_clinica">
                            <div class="coluna_titulo">
                                <div class="titulo">Clínica 2</div>
                                <div>
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                    <img src="{% static 'images/star.svg' %}" class="star_aval" >
                                </div>
                            </div>
                            <div class="coluna_desc">
                                <p>Rua 12, Bairro Florescer - SP <br> Tel: (11) 3245-6994 <br> Funcionamento 08hrs ás 19hrs <br> Psicopedagogia</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

             <div class="secao_mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d233983.1020738205!2d-46.75190635081334!3d-23.604836113882275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sclinicas%20para%20autismo!5e0!3m2!1spt-BR!2sbr!4v1723859279718!5m2!1spt-BR!2sbr" class="mapa" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
        </section>
    </main>

    <footer>
        <img src="src/images/wave.svg" alt="">

        <div id="footer_itens">
            <span id="copyright">
                &copy 2024 Rodrigo Santos
            </span>

            <div class="social-media-buttons">
                <a href="https://web.whatsapp.com/" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.tiktok.com/pt-BR/" target="_blank">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                </div>
            </div>


        </div>

    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
