{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff9ea;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    text-align: center;
    color: #333;
}

.form-box input[type="text"],
.form-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #ffcb45;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.form-box button:hover {
    background-color: #e9a209;
}

.form-box p {
    text-align: center;
    margin-top: 20px;
    font-size: 0.875rem;
}

.form-box p a {
    color: #e9a209;
    text-decoration: none;
    font-weight: 600;
}

.form-box p a:hover {
    text-decoration: underline;
}