{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'style.css' %}" rel="stylesheet"/>
  <link href="{% static 'login.css' %}" rel="stylesheet"/> <!-- Reutilizando o CSS do login para manter o estilo -->
  <title>Cadastro - Autismo e Apoio</title>
</head>
<body>
  <main id="login">
    <h2 class="page-title">Autismo e Apoio</h2>

    <div class="login-container">
      <h1 class="title">Crie sua conta</h1>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="input-group">
          <label for="name">Nome</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirme sua senha</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit" class="btn-default">Cadastrar</button>
      </form>

      <!-- Link para voltar ao login -->
      <p class="register-message">
        Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a>
      </p>
    </div>
  </main>
</body>
</html>
